body{
  background-color: MidnightBlue;
  font-family: 'Lato', sans-serif;
}
h1{
  color: white;
  font-size: 5em;
  left: 20%;
  position: absolute;
}
#lab{
  color: white;
  border: 2px solid white;
  font-size: 2em;
  left: 20%;
  top: 30%;
  position: absolute;
  width: 100px;
  padding: 7px;
  transition: 1s;
  cursor: pointer;
}
#studio{
  color: white;
  border: 2px solid white;
  font-size: 2em;
  left: 20%;
  top: 40%;
  position: absolute;
  width: 100px;
  padding: 7px;
  transition: 1s;
  cursor: pointer;
}
#labcontain{
  font-size: 1.2em;
  left: 30%;
  top: 32%;
  position: absolute;
  opacity: 0;
  transition: 0.9s;
}
#studiocontain{
  font-size: 1.2em;
  left: 30%;
  top: 42%;
  position: absolute;
  opacity: 0;
  transition: 0.9s;
}
a{
  text-decoration: none;
  color: white;
}