body{
  font-family: sans-serif;
  margin-left: 40vw;
  margin-right: 40vw;
  width: 20vw;
}
.header{
  text-align: center;
  line-height: 10px
}
.center{
  text-align: center;
}
span{
  text-align: right;
  float: right;
  display: inline-block;
  position: relative;
}
.content{
  line-height: 16px;
}
.approved{
  line-height: 16px;
}